<!-- Single Catagory -->
<div class="col-12 col-sm-6 col-md-4">
  <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(<%= image_url "img/bg-img/bg-2.jpg" %>);">
    <div class="catagory-content">
      <a href="#">Clothing</a>
    </div>
  </div>
</div>
