<section class="new_arrivals_area section-padding-80 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <h2><%= t "client.new_book" %></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="popular-products-slides owl-carousel">
          <% @books.each do |book| %>
            <% @book = book %>
            <%= render "share/item" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
