<% provide :search_path, books_path %>
<section class="shop_grid_area section-padding-80">
  <div class="container">
    <div class="row">
      <%= render "share/sidebar" %>
      <%= render "share/listbooks" %>
    </div>
  </div>
</section>
