<div class="search-area">
  <%= search_form_for @q, url: yield(:search_parth), method: :get do |f|%>
    <%= f.text_field :name_cont, class: "form-control",  placeholder: t("client.type_for_search") %>
    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
  <% end %>
</div>
