<!DOCTYPE html>
<html>
  <head>
    <title><%= t "nameproject" %></title>
    <%= render "layouts/rails_default" %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </body>
</html>
